body {background-color: #BCF2CA;}
h1{
 color:#848AF5;
 padding: 20px 20px 20px 20px;
}
h2{
 color:#65CCDB;
 padding: 20px 20px 20px 20px;
}
h4{
 padding: 20px 20px 20px 20px;

}

#title-image{
  width: 40%;
}
