body {background-color: #F5B269;}
h1{
 color:#F07747;
 padding: 20px 20px 20px 20px;
}
h2{
 color:#DBB14D;
 padding: 20px 20px 20px 20px;
}
h4{
 padding: 20px 20px 20px 20px;

}

#title-image{
  width: 40%;
}
